---
import Card from '../Card.astro'
---

<Card
  colSpan="md:col-span-2 lg:col-span-3"
  rowSpan="md:row-span-2 lg:row-span-2"
  title="Aspirations"
>
  <div class="mt-2 space-y-2">
    <ul class="list-disc list-inside space-y-2 text-sm">
      <li>I aspire to be a professor one day and teach students about technology and leadership</li>
      <li>I have a dream of running a 100 mile race and ironman triathlon</li>
      <li>I have a big goal of building and selling and profitting from a tangible product</li>
      <li>I want to be an exceptional dad, husband, and role model for my kids</li>
    </ul>
  </div>
</Card>

