---
import Card from '../Card.astro'
---

<Card
  colSpan="md:col-span-2 lg:col-span-3"
  rowSpan="md:row-span-2 lg:row-span-2"
  title="Interests"
>
  <div class="mt-2 space-y-2">
    <ul class="list-disc list-inside space-y-2 text-sm">
      <li>3d printing, woodworking, and building something every week</li>
      <li>Pratice reading, writing, and playing chess</li>
      <li>Listening to business and tech podcasts</li>
      <li>Snowboarding, climbing, running,lifting weights and chasing my kids around</li>
    </ul>
  </div>
</Card>

