---
import Card from '../Card.astro'
import { Button } from '../ui/button'
import { LINKS } from '../../lib/constants'
import { Linkedin, Github, Mail } from 'lucide-react'
---

<Card colSpan="md:col-span-2 lg:col-span-4" rowSpan="md:row-span-1 lg:row-span-1">
  <div class="flex h-full w-full">
    <div class="flex flex-col justify-between gap-4">
      <div class="flex h-full flex-col">
        <h6 class="m-0 text-sm font-light text-gray-500">Welcome</h6>
        <p class="m-0 text-lg font-light">
          Hey! I'm <b class="font-bold">Kyle James (KJ)</b>, a dad, husband, athlete, and professionally I work as a product and engineering leader. 
          I've spent time working in a variety of organizations, from startups to large enterprises, and I've worn a lot of hats. I'm most comfortable
          as a product and engineering leader, but I've also worn the hat of a developer, a consultant, and project manager. I pride myself 
          on doing the right thing and treating people with respect, and doing all of the little things well to make a difference. 
        </p>
        <br>
        <h6 class="m-0 text-sm font-light text-gray-500">Why Me?</h6>
        <p>
          I've built a reputation for being a quick learner, a team player, problem solver, good communicator, and a hard worker. 
          As a leader, I keep myself sharp by staying up to date on the latest in technology and best practices, and I'm always looking 
          for new challenges and opportunities to grow. I practice building products and I'm constantly learning new frameworks and tech.
          I thrive in fast-paced environments and appreciate roles that give me agency to make a difference and make decisions. 
        </p>
      </div>
      <div class="flex gap-4">
        <a href={LINKS.gitlab} aria-label="gitlab profile" target="_blank">
          <Button aria-label="gitlab profile">
            <Github />
            <span class="sr-only">GitLab Profile</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkedin profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Linkedin />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
        <a href={LINKS.mail} aria-label="mail profile" target="_blank">
          <Button>
            <Mail />
            <span class="sr-only">Email contact</span>
          </Button>
        </a>
      </div>
    </div>
    <img
      width="200"
      height="200"
      src="me.png"
      class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[200px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
      alt="memoji of andres plaza"
    />
  </div>
</Card>
