---
import Card from '../Card.astro'
---

<Card
  colSpan="md:col-span-2 lg:col-span-4"
  rowSpan="md:row-span-2 lg:row-span-2"
  title="Proud Of"
>
  <div class="mt-2 space-y-2">
    <ul class="list-disc list-inside space-y-2 text-sm">
      <li>I've been trusted by my leaders 3 different times to build a new job for myself or my team from the ground up and see it through to success.</li>
      <li>In 2020, I was selected to be on a panel to judge the nominees for Disney's Legacy award, the highest honor a Disney employee can receive, and one of the biggest privileges to judge.</li>
      <li>I'm a first generation college graduate and college athlete.</li>
      <li>I've completed 12+ half marathons and 3, 4x4x48 challenges.</li>
      <li>7/7 interns I've led had have found full time positions at Disney or at other large tech companies.</li>
    </ul>
  </div>
</Card>

