---
import Card from '../Card.astro'
---

<Card
  colSpan="md:col-span-2 lg:col-span-3"
  rowSpan="md:row-span-2 lg:row-span-2"
  title="Stretching"
>
  <div class="mt-2 space-y-2">
    <ul class="list-disc list-inside space-y-2 text-sm">
      <li>UW Hackathons '21, '22, '25: Mentored the UW Women Informatics hackathon as a representative from Disney</li>
      <li>UW Informatics Capstone Judge '23: Judged and presented graduate school students capstones projects with the "Innovation" award</li>
      <li>Mentee of a rotating panel of entertainment tech executives for Women in Technology Hollywood (WITH) '22</li>
      <li>Ran multiple org-wide hackathons for Disney and was the organizer of the Disney Corporate Tech Hackathon '22 and Global InfoSec Hackathon '25.</li>
      <li>Hired and mentored 4 interns at Disney with success retaining them. Mentored multiple early career and mid career engineers and PMs on their journey to become more advanced technologists</li>
    </ul>
  </div>
</Card>

