---
import Card from '../Card.astro'
---

<Card
  colSpan="md:col-span-2 lg:col-span-3"
  rowSpan="md:row-span-2 lg:row-span-2"
  title="Values"
>
  <div class="mt-2 space-y-2">
    <ul class="list-disc list-inside space-y-2 text-sm">
      <li>Leadership and teamwork</li>
      <li>Integrity</li>
      <li>Curiosity and Humility</li>
      <li>Continuous Growth</li>
      <li>Hard work</li>
      <li>Maker and Builder</li>
    </ul>
  </div>
</Card>

